@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 220 11% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 220 11% 20%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 8% 46%;
    --accent: 220 14% 96%;
    --accent-foreground: 220 11% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 220 11% 20%;
    --chart-1: 220 11% 20%;
    --chart-2: 220 8% 46%;
    --chart-3: 220 13% 91%;
    --chart-4: 220 14% 96%;
    --chart-5: 220 5% 72%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 11% 4%;
    --foreground: 0 0% 98%;
    --card: 220 11% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 220 11% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 220 11% 20%;
    --secondary: 220 11% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 11% 14.9%;
    --muted-foreground: 220 8% 72%;
    --accent: 220 11% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 11% 14.9%;
    --input: 220 11% 14.9%;
    --ring: 220 8% 72%;
    --chart-1: 220 8% 72%;
    --chart-2: 220 11% 65%;
    --chart-3: 220 13% 45%;
    --chart-4: 220 14% 35%;
    --chart-5: 220 5% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}